.homePage{
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 0fr 1fr 0.3fr;

  background: #F0F0F7;
  color: #fff;
}

.homeContent{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.home{
  width: 100%;
  height: 90%;

  display: grid;
  grid-template-rows: 1fr 0fr;

  grid-row-gap: 30px;

  max-width: 1440px;

  padding: 30px;

}

.home  .homeCards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.home  .homeCards .activeFeed{

  width: 90%;

  display: flex;
  align-items: flex-start;

  flex-direction: column;
}

.home  .homeCards .activeFeed .activity{
  width: 100%;
  height: 100%;
  background: #fff;

  color: #000;

  border-radius: 20px;

  padding: 30px;
}

.home  .homeCards .activeFeed > span{
  margin-bottom: 30px;
  color: #000;
}

.activeFeed .activity .perfil{
  display: flex;
  align-items: center;

  width: 100%;

  padding-bottom: 30px;
  
}

.activeFeed .activity .perfil .perfilInfo{
  display: flex;
  flex-direction: column;

  width: 80%;

  margin-left: 20px;
}

.activeFeed .activity .perfil .perfilInfo span:first-child{
  font-size: 12px;
}

.activeFeed .activity .perfil .perfilFoto{
  width: 50px;
  height: 50px;

  background: #4245f5;

  border-radius: 50px;
}

.activeFeed .activity .perfil .perfilButton{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.activeFeed .activity .perfil .perfilButton button{
  width: 30px;
  height: 40px;

  border: 0;

  border-radius: 8px;

  background: #4245f5;

  color: white;
}

.home  .homeCards .to-dos{
  background: #fff;
  
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.perfilBar{
  width: 100%;
  height: 100%;

  background: #fff;
  color: black;
}

.perfilBar .perfilInfo{
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.perfilBar .perfilInfo .perfilPhoto{
  width: 150px;
  height: 150px;

  background: #ccc;

  border-radius: 50%;

  margin-bottom: 20px;
}

